body {
    font-family: 'Times New Roman', Times, serif;
    margin: 40px;;
    padding: 0%;
    background:rgb(28, 196, 48);
}

.header{
    background-color: rgb(7, 224, 105);
    font-family: "Megrim", cursive;
    font-size: small;
    color: rgb(14, 110, 219);
    padding: 22px;
    text-align: center;
    margin: 20px;
}

footer{
    text-align: center;
    color: rgb(230, 144, 45);
    background-color: rgb(145, 19, 190);
    padding: 30px;
    margin: 25px;
    font-size:medium;
    font-family: "Miniver", cursive;
    border-radius: 8px;
}

.image-container img {
  max-width: 90%;
  border-radius: 12px;
}
img{
  border-radius: 12px;
  margin: 40px;
  padding: 40px;
  margin-left: 20px;
}

fieldset{
  background-color: #b76e1a;
  font-family: "roboto mono", cursive;
  font-size: 30px;
}

h1{
  color: #cf5417;
  font-family: "roboto mono", cursive;
  font-size: xx-large;
  text-align: left;
}